
.albums .card:hover {
    outline: 4px solid #ff8800
}

.albums a {
    color: gray;
}
header {
     background-color: rgb(210, 255, 218);
}


body {
    background-color: rgb(231, 250, 244);
}